/* dashboard */
body{
	background: #ece0ce;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h1 {
    color: #16262E;
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: bold;
}
.container{
	color: #16262E;
}
#orders-button{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
    height: 45px;
    width: 140px;
    font-size: 1.1em;
    border: none;
    border-radius: 8px;
    background-color: #16262E;
    color: #fefefd;
    transition: 0.3s;
    font-weight: 500;
}

#orders-button:hover{
	filter: brightness(1.6);
    transform: translateY(-5px) translateX(-5px); 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#restaurant-card{
	color: #16262E;
	background-color: #fefefd;
	border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

#restaurant-card:hover{
	transform: scale(1.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-title{
	color: #16262E;
    font-size: 1.3em;
    font-weight: 600;
}

#view-button{
	background-color: #587C74;
	border: none;
    font-size: 1.1em;
    font-weight: 500;
    transition: 0.3s;
}

#view-button:hover{
	filter: brightness(1.1);
    transform: translateY(-5px) translateX(-5px); 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* orders page (ordered)*/
p {
    color: #16262E;
}

#back-button{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
    height: 45px;
    width: 250px;
    font-size: 1.1em;
    border: none;
    border-radius: 8px;
    background-color: #16262E;
    color: #fefefd;
    transition: 0.3s;
    font-weight: 500;
}

#back-button:hover{
	filter: brightness(1.6);
    transform: translateY(-5px) translateX(-5px); 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.colour-25{
	background-color: #16262E;
}

.colour-50{
	background-color: #587C74;
}

.colour-75{
	background-color: #E55934;
}

.colour-100{
	background-color: #FA7921;
}

#received-button{
    font-size: 1.1em;
    font-weight: 500;
    color: #fefefd;
    background-color: #587C74;
    transition: 0.3s
}

#received-button:hover{
	filter: brightness(1.1);
    transform: translateY(-5px) translateX(-5px); 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* orders page(no order) */
.order-alert{
	background-color: #fefefd;
	border: none;
	color: #16262E;
}

.order-alert .btn{
	display: flex;
	justify-content: center;
	align-items: center;
    font-size: 1.1em;
    border: none;
    border-radius: 8px;
    background-color: #E55934;
    color: #fefefd;
    transition: 0.3s;
    font-weight: 500;
}

.order-alert .btn:focus,
.order-alert .btn:active {
    background-color: #E55934;
    color: #fefefd;
    box-shadow: none;
}

.order-alert .btn:hover{
	filter: brightness(1.6);
    transform: translateY(-5px) translateX(-5px); 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
h4{
	font-weight: 700;
}
h6{
	font-weight: 600;
}
/* costumer menu */

.goods-price{
	font-size: 20px;
}

.goods-btns {
	display: flex;
	align-items: center;
	position: absolute;
	right: 10px;
	bottom: 15px;
}

.goods-btns i {
	cursor: pointer;
	margin: 0 1rem;
	font-size: 30px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

.footer {
	height: 6rem;
	color: #fefefd;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
}

.car-container {
	flex-grow: 1;
	background: #587C74;
	position: relative;
}

.car {
	position: absolute;
	width: 6rem;
	height: 6rem;
	left: 2rem;
	bottom: 2rem;
	border-radius: 15%;
	background: #16262E;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 60rem;
}

.totalGoods {
	position: absolute;
	width: 3rem;
	height: 3rem;
	background: #E55934;
	color: #fefefd;
	font-size: 2rem;
	text-align: center;
	border-radius: 50%;
	line-height: 3rem;
	right: -1rem;
	top: -1rem;
	display: block;
}

.car-price {
	font-size: 2rem;
	margin-top: 1rem;
	margin-left: 10rem;
	display: flex;
	align-items: center;
}

.footer-car-tip {
	font-size: 1rem;
	margin-left: 10rem;
	margin-bottom: 0.5rem;
}

.payBtn{
	height: 3rem;
	width: 13rem;
	background: #FA7921;
	color: #fefefd;
	text-align: center;
	font-size: 2rem;
	border-radius: 10px;
	position: absolute;
	right: 2rem;
	top: 1.5rem;
	cursor: pointer;
	border: none;
	padding: 0;
	transition: 0.3s;
}

.payBtn:focus,
.payBtn:active {
	background: #FA7921 !important;
	color: #fefefd !important;
    box-shadow: none;
}

.payBtn:hover{
	background: #E55934;
    transform: translateY(-5px) translateX(-5px); 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.popup-card {
	display: none;
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -20%);
	width: 300px;
	padding: 20px;
	background-color: #E55934;
	color: #fefefd;
	font-weight: 500;
	box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	z-index: 1000;
}

#popup-card-context {
	color: #fefefd;
	font-size: 20px;
	font-weight: 400;
}

.popup-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.popup-card #popup-cancel{
	position: absolute;
	left: 20px;
	bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
    height: 30px;
    width: 70px;
    border: none;
    border-radius: 8px;
    background-color: #16262E;
    color: #fefefd;
    transition: 0.3s;
    font-weight: 500;
}

.popup-card #popup-cancel:hover{
	filter: brightness(1.1);
	transform: scale(1.1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.popup-card #popup-pay{
	position: absolute;
	right: 20px;
	bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
    height: 30px;
    width: 70px;
    border: none;
    border-radius: 8px;
    background-color: #fefefd;
    color: #E55934;
    transition: 0.3s;
    font-weight: 600;
}
.popup-card #popup-pay:hover{
	background-color: #FA7921;
	color: #fefefd;
	transform: scale(1.2);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/* payment page */
.summary{
	display: center;
    border-radius: 20px;
	background-color: #fefefd;
	color: #16262E;
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
}

h3{
	color: #16262E;
	font-weight: 550;
}

h5{
	color: #16262E;
	font-weight: 450;
}

.bill{
	text-align: right;
	font-size: 20px;
	font-weight: 400;
}

.pay-btn{
	justify-content: center;
	align-items: center;
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 8px;
    background-color: #E55934;
    color: #fefefd;
    transition: 0.3s;
    font-weight: 600;
}

.pay-btn:hover{
	background-color: #FA7921;
	color: #fefefd;
	transform: scale(1.2);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

