/* login page */
body {
    display: flex;
    background: #ece0ce;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: center;
    width: 950px;
    height: 670px;
    border-radius: 20px;
    text-align: center;
    margin-top: 40px;
    background: #fefefd;
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
}

.title h1 {
    color: #323232;
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.title h2 {
    color: #666;
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 0;
}

.login {
    display: inline-flex;
    padding: 25px;
    padding-top: 10px;
    width: 250px;
    height: 400px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    transition: 0.3s;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

#radio_customer + .radio-btn {
    background:#587c74;
    color: #fefefd;
    font-weight: 300;
}


#radio_restaurant + .radio-btn {
    background:#714d44;
    color: #fefefd;
    font-weight: 300;
}

#radio_rider + .radio-btn {
    background:#d1c1ab;
    color: #fefefd;
    font-weight: 300;
}

/* role button */
.login input[type="radio"] {
    display: none;
}

.radio-btn {
    position: absolute;
    height: 400px;
    width: 250px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    font-weight: 500;
    transition: all 0.4 ease;
    text-align: center;
    line-height: 1.4;
    flex-direction: column;
    transition: 0.3s;
}

.radio-btn:hover{
    filter: brightness(1.1);
    transform: translateY(-5px) translateX(-5px);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); 
}

input[type="radio"]:checked + .radio-btn {
    filter: brightness(1.1);
    transform: translateY(-5px) translateX(-5px);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); 
}

input[type="radio"]:checked + .radio-btn span {
    transform: translateY(-50px);
    transition: 0.3s;
}

/* role text field (only inside .login panels) */
.login input[type="text"]:disabled{
    width: 180px;
    height: 35px;
    border: none;
    font-size: 16px;
    text-align: center;
    position: absolute;
    bottom: 120px;
    opacity: 0; 
    visibility: hidden; 
}

.login input[type="radio"]:checked ~ input[type="text"]{
    width: 180px;
    height: 35px;
    border: none;
    font-size: 16px;
    text-align: center;
    position: absolute;
    bottom: 120px;
    opacity: 1; 
    visibility: visible; 
    background-color: #fefefd;
    border-radius: 5px; 
    color: #333;
    transform: translateY(-5px) translateX(-5px); 
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: opacity 0.7s ease, visibility 0s; 
}

.login-button{
    height: 40px;
    width: 120px;
    bottom: 50px;
    text-align: center;
    position: absolute;
    font-size: 1.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 8px;
    background: #0D1D55;
    color: #fefefd;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    margin-top: 20px;
    opacity: 0; 
    visibility: hidden; 
}

.login input[type="radio"]:checked ~ .login-button{
    height: 40px;
    width: 120px;
    bottom: 50px;
    font-size: 1.1em;
    text-align: center;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none; 
    border-radius: 8px;
    background: #0D1D55;
    color: #fefefd;
    font-weight: 500;
    margin-top: 20px;
    opacity: 1; 
    visibility: visible; 
    z-index: 1;
    transform: translateY(-5px) translateX(-5px); 
    transition: opacity 0.7s ease, visibility 0s filter 0.3s; 
    cursor: pointer;
}

button[type=submit]:hover {
    filter: brightness(1.6);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    transition:  0.3s; 
    cursor: pointer;
}

.signup-button{
    height: 45px;
    width: 140px;
    font-size: 1.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 8px;
    background-color: #0D1D55;
    color: #fefefd;
    transition: 0.3s;
    font-weight: 500;
}

.signup-button:hover{
    filter: brightness(1.6);
    transform: translateY(-5px) translateX(-5px); 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Register Page */
/* Register form input styles (visible and static) */
#registerForm{
    display: flex;
    flex-direction: row;
    position: relative;  
}

/*role selection list*/
.role_selection{
    margin-right:0;
    z-index: 1;
}

.role_selection input[type="radio"] {
    display: none;
}

.role-button{
    height:120px;
    width: 900px;
    border: none;
    border-radius:10px;
    cursor: pointer;
    display: flex;
    font-size: 1.4em;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: width 1s;
    font-weight: 400;
}

.role-button:hover{
    filter: brightness(1.1);
    transform: translateY(-5px) translateX(-5px);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); 
    transition: 0.3s;
}

input[type="radio"]:checked + .role-button {
    filter: brightness(1.1);
    width: 350px;
    height: 160px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); 
    transition: 1s;
}
.role-button.active{
    width: 350px;
    height: 100px;
    transition: 1s;  
}


#role_customer + .role-button{
    background:#587c74;
    color: #fefefd;
}

#role_restaurant + .role-button{
    background:#714d44;
    color: #fefefd;
}

#role_rider +.role-button{
    background:#d1c1ab;
    color: #fefefd; 
}

.register-input-list{
    display: center;
    height:350px;
    width:550px;
    padding-top: 30px;
    align-content: center;
    position: absolute;
    left: 360px;
    margin: 0;
}

.register-input-list input[type=text]:disabled {
    display: none;
}

.register-input-list input[type=text] {
    height: 35px;
    width: 320px;
    text-align: center;
    border: 1px solid #0D1D55; 
    font-size: 16px;
    margin: 6px 0;
    background: #fefefd;
    border-radius: 6px;
    padding: 8px 10px;
    border-radius: 5px; 
    color: #333;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.7s ease, visibility 0s, box-shadow 0.3s; 
}

.register-input-list input[type=text]:hover {
    box-shadow: 0 0 8px #0D1D55; 
}

.register-input-list input[type=text]:focus {
    border: 2px solid #0D1D55;
    box-shadow: 0 0 5px #0D1D55;
    outline: none;
}

.register-button{
    height: 45px;
    width: 140px;
    font-size: 1.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 8px;
    background-color: #0D1D55;
    color: #fefefd;
    transition: 0.3s;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
}

.register-input-list input[type="text"]:not(:disabled) ~ .register-button{
    height: 45px;
    width: 140px;
    font-size: 1.1em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 8px;
    background-color: #0D1D55;
    color: #fefefd;
    font-weight: 500;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.7s ease, visibility 0s filter 0.3s; 
}

.register-button:hover{
    filter: brightness(1.6);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.return-button{
    position:absolute;
    top: 70px;
    right: 60px;
    height: 45px;
    width: 140px;
    font-size: 1.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 8px;
    background-color: #0D1D55;
    color: #fefefd;
    transition: 0.3s;
    font-weight: 500;
}

.return-button:hover{
    filter: brightness(1.6);
    transform: translateY(-5px) translateX(-5px); 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}